<h3>FlightComponent</h3>

<MudTabs Outlined="true" Position="@Position.Left" Rounded="true" Border="true"
    ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
    @foreach (var flight in flights)
    {
        <MudTabPanel Text=@($"{flight.Origin} - {flight.Destination}")>
            <MudTimeline TimelineAlign="TimelineAlign.Start">
                
                <MudTimelineItem Color="Color.Dark" Elevation="25">
                    <ItemOpposite>
                        <MudText Color="Color.Dark" Typo="Typo.h6">Departure</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudPaper Elevation="0" Class="mt-n1">
                            <MudText Color="Color.Dark" Typo="Typo.h6" GutterBottom="true">@flight.Origin</MudText>
                            <MudText Typo="Typo.body2">@flight.OriginNotes</MudText>
                            <MudText Typo="Typo.body2">Departure: @flight.Departure</MudText>
                        </MudPaper>
                    </ItemContent>
                </MudTimelineItem>
                
                <MudTimelineItem Color="Color.Success" Elevation="25">
                    <ItemOpposite>
                        <MudText Color="Color.Success" Typo="Typo.h6" GutterBottom="true">Flight</MudText>                    
                        <MudText Typo="Typo.body2">@flight.Arrival.Subtract(flight.Departure).Hours Hours</MudText>
                        <MudText Typo="Typo.body2">@flight.Arrival.Subtract(flight.Departure).Minutes Minutes</MudText>
                    </ItemOpposite>
                </MudTimelineItem>
                
                <MudTimelineItem Color="Color.Secondary" Elevation="25">
                    <ItemOpposite>
                        <MudText Color="Color.Secondary" Typo="Typo.h6" GutterBottom="true">Arrival</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudPaper Elevation="0" Class="mt-n1">
                            <MudText Color="Color.Secondary" Typo="Typo.h6" GutterBottom="true">@flight.Destination</MudText>
                            <MudText Typo="Typo.body2">@flight.DestinationNotes</MudText>
                            <MudText Typo="Typo.body2">Arrival: @flight.Arrival</MudText>
                        </MudPaper>
                    </ItemContent>
                </MudTimelineItem>

            </MudTimeline>
        </MudTabPanel>
    }    
</MudTabs>